include AUTHORS.rst
include LICENSE
include CHANGELOG.rst
include README.rst
include runtests.sh
recursive-include docs *
recursive-include drop/locale *
recursive-include drop/templates *
recursive-include drop/media *
recursive-include tests *
recursive-exclude * *.pyc
